<section class="form-success">
    <img src="{{ assets_path }}/img/trophy.svg" alt="Trophy" width="44px" height="70px" />
    <h1>Thanks for subscribing!</h1>
    <p>
        You have successfully subscribed to our email listing. Check your
        email for the discount code.
    </p>
</section>