*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-rendering: optimizeLegibility; */
}

/* removes hover effects on touch devices */
html.touch *:hover {
  all: unset !important;
}

textarea {
  /* resize: vertical; */
  resize: none;
}

/* removes the inner border effect from focused buttons for form elements in Firefox */
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0px;
}

/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="submit"] {
  -webkit-appearance: none;
}

/* sets up required form fields with the conventional following red asterix */
input:required:after {
  color: #f00;
  content: " *";
}

a {
  text-decoration: none;
}
