<footer>
    <div class="social-icons">
        <a href="#">
            <div class="facebook"><i class="fa-brands fa-facebook-f"></i></div>
        </a>
        <a href="#">
            <div class="instagram"><i class="fa-brands fa-instagram"></i></div>
        </a>
        <a href="#">
            <div class="twitter"><i class="fa-brands fa-twitter"></i></div>
        </a>
        <a href="#">
            <div class="youtube"><i class="fa-brands fa-youtube"></i></div>
        </a>
    </div>
</footer>