<header>
    <nav>
        <div class="logo">
            <img src="{{ assets_path }}img/logo/logo_pineapple.svg" alt="pineapple logo" />
            <img src="{{ assets_path }}img/logo/pineapple_text.png" alt="pineapple text" />
        </div>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>